.darkBGstyle {
  background-color: #65444d;
  height: 87px;
  width: 100%;
}
.h1style {
  font-size: 2.769em;
  color: white;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  text-transform: uppercase;
}
.h2style {
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  font-size: 2.25em;
  color: white;
}
.h3style {
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  font-size: 1.5em;
  color: white;
}
.h4style {
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  font-size: 1.375em;
  color: white;
}
.shadow {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
}
.hover {
  background-color: #5e293b;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hover2 {
  color: #ac0031;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.boxshadow {
  -webkit-box-shadow: 1px 5px 6px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 5px 6px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 1px 5px 6px 0px rgba(0, 0, 0, 0.41);
}
.boxshadow2 {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}
.insetboxshadow {
  -webkit-box-shadow: inset 0px 0px 27px -8px #383838;
  -moz-box-shadow: inset 0px 0px 27px -8px #383838;
  box-shadow: inset 0px 0px 27px -8px #383838;
}
.headerstyle {
  background: #9c0025;
  /* Old browsers */

  background: -moz-linear-gradient(-45deg, #9c0025 22%, #9c0025 22%, #ac0031 22%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right bottom, color-stop(22%, #9c0025), color-stop(22%, #9c0025), color-stop(22%, #ac0031));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(-45deg, #9c0025 22%, #9c0025 22%, #ac0031 22%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(-45deg, #9c0025 22%, #9c0025 22%, #ac0031 22%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(-45deg, #9c0025 22%, #9c0025 22%, #ac0031 22%);
  /* IE10+ */

  background: linear-gradient(135deg, #9c0025 22%, #9c0025 22%, #ac0031 22%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c0025', endColorstr='#ac0031', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
@font-face {
  font-family: 'franklin_gothic_demi_condRg';
  src: url('franklingothicdemicond-webfont.eot');
  src: url('franklingothicdemicond-webfont.eot?#iefix') format('embedded-opentype'), url('franklingothicdemicond-webfont.woff') format('woff'), url('franklingothicdemicond-webfont.ttf') format('truetype'), url('franklingothicdemicond-webfont.svg#franklin_gothic_demi_condRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  color: gray;
  font-family: 'calibri', sans-serif;
  font-size: 81.3%;
}
nav {
  background-color: #381823;
  height: 43px;
}
nav ul.main_nav {
  text-align: center;
}
nav ul.main_nav li {
  display: inline-block;
  margin-top: 12px;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  color: white;
  font-size: 1.5em;
}
nav ul.main_nav a {
  padding: 15px 20px 11px 20px;
  text-decoration: none;
  color: white;
}
nav ul.main_nav a:hover {
  background-color: #5e293b;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav ul.main_nav ul.programs_dropdown {
  position: absolute;
  top: 43px;
  text-align: left;
}
nav ul.main_nav ul.programs_dropdown a {
  text-decoration: none;
  padding: 0;
}
nav ul.main_nav ul.programs_dropdown a li {
  display: block;
  font-family: 'calibri', sans-serif;
  font-size: 14px;
  background-color: #381823;
  padding: 7px 10px 7px 10px;
  margin-top: 0;
}
nav ul.main_nav ul.programs_dropdown a li:hover {
  background-color: #5e293b;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #531f2a;
}
header {
  background-image: url(http://www.igniteyourspark.com/wp-content/uploads/2010/11/diverse_women_iStock_000010668925Medium.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 400px 10%;
  height: 341px;
  width: 100%;
}
header .logo {
  width: 1070px;
  margin: 0 auto;
  padding-top: 80px;
}
#donate_volun_newslet {
  width: 100%;
}
#donate_volun_newslet .dvn_title_bg {
  background-color: #381823;
  height: 50px;
  width: 100%;
}
#donate_volun_newslet .dvn_description_bg {
  width: 100%;
  height: 179px;
  background-color: #937878;
}
.dvn_section {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: -219px;
  margin-bottom: 260px;
  color: white;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
}
.dvn_section .dvn_box {
  float: left;
  width: 31.62393162393162%;
  margin-right: 2.564102564102564%;
}
.dvn_section .dvn_box:last-child {
  margin-right: 0;
}
.dvn_section .dvn_box h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.875em;
  text-transform: uppercase;
}
.dvn_section .dvn_box h2 a {
  text-decoration: none;
  color: white;
}
.dvn_section .dvn_box h2 :hover {
  color: #ac0031;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dvn_section .dvn_box a {
  text-decoration: none;
  color: white;
}
.dvn_section .dvn_box a h3 {
  text-align: center;
  padding-top: 33px;
  font-size: 1.5em;
}
.dvn_section .dvn_box p {
  margin-bottom: 45px;
  padding: 0 27px 0 27px;
  font-size: 1.125em;
  font-family: 'calibri', sans-serif;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
}
.dvn_section .dvn_box .darkBG {
  background-color: #65444d;
  height: 87px;
  width: 100%;
}
.dvn_section .dvn_box .darkBG ul.donation_amount {
  text-align: center;
}
.dvn_section .dvn_box .darkBG ul.donation_amount li {
  display: inline-block;
  background-color: #381823;
  padding: 12px 0 12px 0;
  margin-top: 21px;
  width: 68px;
  font-size: 1.5em;
}
.dvn_section .dvn_box .darkBG ul.donation_amount :hover {
  background-color: #5e293b;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #937878;
}
.dvn_section .dvn_box .darkBG ul.newsletter_signup {
  text-align: center;
  padding-top: 21px;
}
.dvn_section .dvn_box .darkBG ul.newsletter_signup li {
  font-size: 1.5em;
  display: inline-block;
  background-color: #381823;
  padding: 10px 0 10px 0;
  width: 70%;
}
.dvn_section .dvn_box .darkBG ul.newsletter_signup li:last-child {
  background-color: #693846;
  text-transform: uppercase;
  width: 68px;
  color: #eeb1c2;
}
.bg {
  width: 100%;
  height: 159px;
  background-color: #ac0031;
  margin-bottom: -159px;
}
#main_content {
  max-width: 1170px;
  margin: 0 auto;
}
#main_content .latest_news_events {
  margin-bottom: 50px;
  float: left;
  width: 85%;
}
#main_content .latest_news_events .news_header {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  background-color: #ac0031;
  height: 159px;
}
#main_content .latest_news_events .news_header h1 {
  font-size: 2.769em;
  color: white;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  text-transform: uppercase;
  font-size: 3.385em;
  margin-top: 100px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
}
#main_content .latest_news_events section {
  margin-top: 15px;
  padding-bottom: 18px;
  padding-right: 10px;
  color: black;
  float: left;
  margin-right: 20px;
  padding-left: 10px;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-bottom-color: #ececec;
}
#main_content .latest_news_events section article ul li {
  font-size: 1.7em;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  display: inline-block;
  margin-bottom: 15px;
}
#main_content .latest_news_events section article ul li:last-child {
  font-size: 12px;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
}
#main_content .latest_news_events section article img {
  float: left;
  margin-right: 10px;
}
#main_content .latest_news_events section article p {
  width: 260px;
  float: left;
  line-height: 130%;
  font-size: 14px;
  color: gray;
}
#main_content .latest_news_events section article h5 {
  background-color: #38262b;
  width: 168px;
  clear: both;
  color: white;
  padding-left: 2px;
}
#main_content .social {
  float: left;
  width: 15%;
}
#main_content .social .social_header {
  height: 420px;
  background-color: #38262b;
  width: 176px;
}
#main_content .social .social_header h1 {
  font-size: 2.769em;
  color: white;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
}
#main_content .social ul.social_media_btns {
  text-align: center;
  margin-top: 63px;
}
#main_content .social ul.social_media_btns li {
  display: inline-block;
}
#main_content .wwcc_media {
  margin-bottom: 130px;
  float: left;
  width: 100%;
}
#main_content .wwcc_media .media_header {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  background-color: #ac0031;
  height: 80px;
}
#main_content .wwcc_media .media_header h1 {
  font-size: 2.769em;
  color: white;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  text-transform: uppercase;
  font-size: 3.385em;
  margin-top: 24px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
}
#main_content .wwcc_media .blog,
#main_content .wwcc_media .gallery,
#main_content .wwcc_media .videos {
  width: 33%;
  float: left;
}
#main_content .wwcc_media .blog .blog_info img,
#main_content .wwcc_media .gallery .blog_info img,
#main_content .wwcc_media .videos .blog_info img,
#main_content .wwcc_media .blog .gallery_info img,
#main_content .wwcc_media .gallery .gallery_info img,
#main_content .wwcc_media .videos .gallery_info img {
  margin-bottom: 10px;
  float: left;
}
#main_content .wwcc_media .blog .blog_info p,
#main_content .wwcc_media .gallery .blog_info p,
#main_content .wwcc_media .videos .blog_info p,
#main_content .wwcc_media .blog .gallery_info p,
#main_content .wwcc_media .gallery .gallery_info p,
#main_content .wwcc_media .videos .gallery_info p {
  padding: 0 10px 0 10px;
  width: 153px;
  margin-top: 58px;
  float: right;
}
#main_content .wwcc_media .blog h1,
#main_content .wwcc_media .gallery h1,
#main_content .wwcc_media .videos h1 {
  text-align: center;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  font-size: 2.25em;
  color: white;
  color: #ac0031;
  padding: 20px 0 20px 20px;
  font-size: 70px;
}
#main_content .wwcc_media .blog h1 a,
#main_content .wwcc_media .gallery h1 a,
#main_content .wwcc_media .videos h1 a {
  text-decoration: none;
  color: #ac0031;
}
#main_content .wwcc_media .blog h1 :hover,
#main_content .wwcc_media .gallery h1 :hover,
#main_content .wwcc_media .videos h1 :hover {
  color: #ac0031;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: black;
}
#main_content .wwcc_media h2 {
  position: relative;
  margin-bottom: 22px;
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: -41px;
  background-color: #ac0031;
  opacity: 0.9;
  z-index: 5;
  padding: 5px 0 5px 10px;
}
.wwcc_media .videos {
  float: right;
}
.wwcc_media .videos .video_one {
  padding-left: 30px;
}
.wwcc_media ul.video_thumbs {
  float: right;
}
.wwcc_media ul.video_thumbs li img {
  display: none;
}
.bg2 {
  position: absolute;
  bottom: -725px;
  width: 100%;
  background-color: #38262b;
  height: 150px;
  z-index: -1;
}
footer {
  width: 100%;
  height: 188px;
  background-color: #2d2222;
  clear: both;
  font-size: 0.875em;
  color: white;
}
footer .wrapper_footer {
  max-width: 1170px;
  margin: 0 auto;
}
footer .logo_contact_links {
  width: 55%;
  float: left;
  height: 100px;
  padding-top: 55px;
}
footer .logo_contact_links .logo_footer {
  float: left;
}
footer .logo_contact_links .contact,
footer .logo_contact_links .extra_links {
  padding-top: 30px;
  float: left;
  margin-left: 20px;
}
footer .logo_contact_links .contact ul li a,
footer .logo_contact_links .extra_links ul li a {
  text-decoration: none;
  color: white;
}
footer .donate_social {
  width: 20%;
  padding-top: 82px;
  margin-left: 20px;
  float: left;
}
footer .donate_social .donate_footer {
  float: left;
  margin-right: 40px;
}
footer .donate_social .donate_footer h2 {
  font-family: 'franklin_gothic_demi_condRg', sans-serif;
  font-size: 2.25em;
  color: white;
  text-transform: uppercase;
}
footer .donate_social .donate_footer h2 .pinkText {
  color: #ae4646;
}
footer .donate_social .social_footer {
  clear: both;
  margin-top: -90px;
}
footer .donate_social .social_footer ul li {
  display: inline-block;
}
footer .unitedway {
  float: right;
  padding-top: 83px;
}
